<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/style.css">
		<title>Create New User</title>

		<script type="text/javascript">
			function validateInput() {
				if(inputForm.userName.value == "") {
					alert("Please enter a username!");
					return false;
				}
				if(inputForm.password.value == "") {
					alert("Please enter a password!");
					return false;
				}
				if(inputForm.email.value == "") {
					alert("Please enter an email!");
					return false;
				}
				
				return true;
			}
			function showPassword() {
				var x = document.getElementById("password");
				if (x.type === "password") {
				    x.type = "text";
				} else {
				    x.type = "password";
				}				
			}
</script>

</head>
	<body>
		<header>
			<a href="index.html"><img src="../assets/logo.png"></a>
		</header>

		<nav class=blanknav></nav>

	<div class="main">
		<form th:object="${newUser}" th:action="@{/updateUser/{id}(id=${newUser.id})}" name = "inputForm" onsubmit = "return validateInput(this);" method='POST'>
			<label>User Name:</label><input name="userName" size="20" th:field="*{userName}"><br>
			<label>Password:</label><input type="password" id="password" name="password" size="20" th:field="*{password}"><br>
			<label>Show password</label><input type="checkbox" onclick="showPassword()" style="width:2%;"><br>
			<label>Email:</label><input name="email" size="20" th:field="*{email}"><br>
			<input name="submit" type="submit" value="Submit"/>
		</form>	
	</div>
	</body>
</html>