<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/style.css">
		<title>Input Exercise Information</title>		
		<script type = "text/javascript">
			function validateInput(form) {
				if(inputForm.name.value == "") {
					alert("Please enter an exercise name!");
					return false;
				}
				if(inputForm.type.value == "") {
					alert("Please enter an exercise type!");
					return false;
				}
				if(inputForm.minutes.value == "") {
					alert("Please enter length of exercise!");
					return false;
				}
				if (isNaN(inputForm.minutes.value)) {
					alert("Minutes must be entered as a number!");
					return false;
				}
				return (true);
			}
		</script>
	</head>
	<body>
		<header>
			<a href="index.html"><img src="../assets/logo.png"></a>
		</header>

		<nav>
			<a href="../viewAllUsers">Profile</a>
			<a href="../inputExercise">Exercise</a>						
			<a href="../inputMeal">Meals</a>			
			<a href="../inputProgress">Progress</a>	
			<a href="../index.html">Logout</a>		
		</nav>
		
		<div class="main">
			<form th:object="${newExercise}" th:action="@{/updateExercise/{id}(id=${newExercise.id})}" name = "inputForm" onsubmit = "return validateInput(this);" method='POST'>
				<label>Exercise Name:</label><input name="name" size="20" th:field="*{name}"><br>
				<label>Exercise Type:</label><input name="type" size="20" th:field="*{type}"><br>
				<label>Exercise Minutes:</label><input name="minutes" size="20" th:field="*{minutes}"><br>
				<input name="submit" type="submit" value="Submit"/>
			</form>
			<a href="../viewAllExercises">View your exercises!</a><br>
			<a href="../mainmenu">Return to main menu</a>			
		</div>
	</body>
</html>