<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/style.css">
		<title>Input Progress Information</title>
		<script type = "text/javascript">
			function validateInput(form) {
				var index1 = currentWeight.value.indexOf(".");
				var index2 = goalWeight.value.indexOf(".");
				var curWeight = currentWeight.value.substring(0, index1) + currentWeight.value.substring(index1 + 1);
				var glWeight = goalWeight.value.substring(0, index1) + goalWeight.value.substring(index1 + 1);;
				
				if(inputForm.hoursSlept.value == "") {
					alert("Please enter hours slept!");
					return false;
				}
				if (isNaN(inputForm.hoursSlept.value)) {
					alert("Hours slept must be entered as a number!");
					return false;
				}
				if(inputForm.minutesSlept.value == "") {
					alert("Please enter minutes slept!");
					return false;
				}
				if (isNaN(inputForm.minutesSlept.value)) {
					alert("Minutes slept must be entered as a number!");
					return false;
				}
				if(inputForm.goalWeight.value == "") {
					alert("Please enter a goal weight!");
					return false;
				}
				if (isNaN(glWeight)) {
					alert("Goal weight must be entered as a number!");
					return false;
				}
				if(inputForm.currentWeight.value == "") {
					alert("Please enter a current exercise!");
					return false;
				}
				if (isNaN(curWeight)) {
					alert("Current weight must be entered as a number!");
					return false;
				}
				return (true);
			}
		</script>
	</head>
	<body>
		<header>
			<a href="index.html"><img src="../assets/logo.png"></a>
		</header>

		<nav>
			<a href="../viewAllUsers">Profile</a>
			<a href="../inputExercise">Exercise</a>						
			<a href="../inputMeal">Meals</a>			
			<a href="../inputProgress">Progress</a>	
			<a href="../index.html">Logout</a>		
		</nav>
		
		<div class="main">
			<form th:object="${newProgress}" th:action="@{/updateProgress/{id}(id=${newProgress.id})}" name = "inputForm" onsubmit = "return validateInput(this);" method='POST'>
			<label>Hours Slept:</label><input name="hoursSlept" size="20" th:field="*{hoursSlept}"><br>
			<label>Minutes Slept:</label><input name="minutesSlept" size="20" th:field="*{minutesSlept}"><br>
			<label>Goal Weight:</label><input name="goalWeight" size="20" th:field="*{goalWeight}"><br>
			<label>Current Weight:</label><input name="currentWeight" size="20" th:field="*{currentWeight}"><br>
			<input name="submit" type="submit" value="Submit"/>
			</form>
			<a href="../viewAllProgress">View your progress!</a><br>
			<a href="../mainmenu">Return to main menu</a>				
		</div>
	</body>
</html>