<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="style.css">
		<title>Login</title>

</head>
	<body>
		<form th:object="${newUser}" th:action="@{/login/{id}(id=${newUser.id})}" name = "inputForm" onsubmit = "return validateInput(this);" method='POST'>
			User Name: <input name="userName" size="20" th:field="*{userName}"><br>
			Password: <input name="password" size="20" th:field="*{password}"><br>
			<input name="submit" type="submit" value="submit"/>
		</form>
	</body>
</html>

<!-- 
// once a main menu is created the post mapping login in the UsersWebController
 will need to return to the main menu html file using "fileName". The file must 
 be in the templates folder for the WebController to find it.
 -->