<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/style.css">
		<title>View All Meals</title>
	</head>
	<body>
		<header>
			<a href="index.html"><img src="../assets/logo.png"></a>
		</header>

		<nav>
			<a href="../viewAllUsers">Profile</a>
			<a href="../inputExercise">Exercise</a>						
			<a href="../inputMeals">Meals</a>			
			<a href="../inputProgress">Progress</a>	
			<a href="../index.html">Logout</a>				
		</nav>
		
		<div class="main">
			<form>
				<table>
					<tr>
	                    <th>Meal</th>
	                    <th>Meal Hours</th>
	                    <th>Meal Minutes</th>
	                    <th>Calories</th>
	                </tr>
					<tr th:each= "currentMeal : ${meal}" style="text-align:center">
						<td th:text= "${currentMeal.meal}"/>
						<td th:text= "${currentMeal.mealTimeHours}"/>
						<td th:text= "${currentMeal.mealTimeMInutes}"/>
						<td th:text= "${currentMeal.calories}"/>
						<td class="tablelink"><a th:href= "@{/editMeal/{id}(id=${currentMeal.id})}">Edit</a></td>
						<td class="tablelink"><a th:href= "@{/deleteMeal/{id}(id=${currentMeal.id})}">Delete</a></td>
					</tr>
				</table>
			</form>
			<a href="../mainmenu">Return to main menu</a>	
		</div>
	</body>
</html>