<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/style.css">
		<title>View All Users</title>
	</head>
	<body>
		<header>
			<a href="index.html"><img src="../assets/logo.png"></a>
		</header>

		<nav>
			<a href="../viewAllUsers">Profile</a>
			<a href="../inputExercise">Exercise</a>						
			<a href="../inputMeal">Meals</a>			
			<a href="../inputProgress">Progress</a>	
			<a href="../index.html">Logout</a>		
		</nav>
		
		<div class="main">
			<form>
				<table>
					<tr>
	                    <th>Username</th>
	                    <th>Date Joined</th>
	                    <th>Email</th>
	                    <th>Password</th>
	                </tr>
					<tr th:each= "currentUser : ${user}" style="text-align:center">
						<td th:text= "${currentUser.userName}"/>
						<td th:text= "${currentUser.dayJoined}"/>
						<td th:text= "${currentUser.email}"/>
						<td th:text= "${currentUser.password}"/>
						<td class="tablelink"><a th:href= "@{/editUser/{id}(id=${currentUser.id})}">Edit</a></td>
						<td class="tablelink"><a th:href= "@{/deleteUser/{id}(id=${currentUser.id})}">Delete</a></td>
					</tr>
				</table>
			</form>
			<a href="../mainmenu">Return to main menu</a>	
		</div>
	</body>
</html>