<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/style.css">
		<title>View All Exercises</title>
	</head>
	<body>
		<header>
			<a href="index.html"><img src="../assets/logo.png"></a>
		</header>

		<nav>
			<a href="../viewAllUsers">Profile</a>
			<a href="../inputExercise">Exercise</a>						
			<a href="../inputMeals">Meals</a>			
			<a href="../inputProgress">Progress</a>	
			<a href="../index.html">Logout</a>		
		</nav>
		
		<div class="main">
			<form>
				<table>
					<tr>
	                    <th>Name</th>
	                    <th>Type</th>
	                    <th>Minutes</th>
	                </tr>
					<tr th:each= "currentExercise : ${exercise}" style="text-align:center">
						<td th:text= "${currentExercise.name}"/>
						<td th:text= "${currentExercise.type}"/>
						<td th:text= "${currentExercise.minutes}"/>
						<td class="tablelink"><a th:href= "@{/editExercise/{id}(id=${currentExercise.id})}">Edit</a></td>
						<td class="tablelink"><a th:href= "@{/deleteExercise/{id}(id=${currentExercise.id})}">Delete</a></td>
					</tr>
				</table>
			</form>
			<a href="../mainmenu">Return to main menu</a>	
		</div>
	</body>
</html>